.my_info_container
  = image_tag user.gravatar_url :size => 30
  .contents
    = user.username
    .small
      = pluralize(user.flits.count, "Flit")
.clear
.side_content_container
  %h4= link_to "#{user.friends.count} following" 
  %h4= pluralize(user.followers.count, "follower")
  - user.followers.each do |f|
    = link_to image_tag(f.gravatar_url(:size=>30), :border => 0, :alt => f.username, :title => f.username), timeline_path(f.username)
