- title "Welcome #{current_user.username}!!!"

= form_tag flits_path, :id => 'new_flit_form' do
  %h3#form_title== What are you doing?
  %h3#char_count== 140
  .clear
  = text_area_tag :message
  #latest_message
    %strong==Latest: 
    = @last_flit.message
    #{time_ago_in_words @last_flit.created_at} ago
  #submit_button_container
    = submit_tag "Update"
  .clear

= render 'flits_list'