- title "Welcome #{current_user.username}!!!"

= form_tag flits_path do
  = text_area_tag :message
  %br
  = submit_tag "Post"
  
%ul#flits_list
  - @flits.each do |flit|
    %li{:class => ("first" if @flits.first == flit)}
      = image_tag flit.user.gravatar_url
      .flit_message_container
        = link_to flit.user.username
        #{flit.message}
        .created_at
          #{time_ago_in_words flit.created_at} ago
      .clear
