- title "#{@user.username} on twitter"
%h1
  = image_tag @user.gravatar_url :align => "top"
  = @user.username

- if current_user
  = form_tag toggle_follow_path do
    = submit_tag ((current_user.is_friend_of @user) ? "Following": "Follow") 

= render 'flits_list'


- content_for :side do
  = render :partial => 'side_contents', :locals => {:user => @user}
